/* import styled from "styled-components"
import ReactPaginate from "react-paginate";

export const StyledPagination = styled(ReactPaginate)`
  &.containerClassName {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    a {
      padding: 10px;
      margin: 8px;
      border-radius: 5px;
      border: 1px solid #2b2eff;
      color: #2b2eff;
      cursor: pointer;

      &:hover {
        color: white;
        background-color: #2b2eff;
      }
    }
  }

  &.activeClassName a {
  color: white;
  background-color: #2b2eff;
  } 
`
 */

.paginationButton {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 760px) {
  .paginationButton {
    height: 32px;
  }
}

.paginationButton a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.paginationButton a:hover {
  color: white;
  background-color: rgb(84, 86, 90);
}

.paginationActive a {
  color: white;
  background-color: rgb(84, 86, 90);
}
